target/
!.mvn/wrapper/maven-wrapper.jar
*.mv.db
*.trace.db
bin/
node_modules/
sq-companion-config.json
sq-companion-config.*.json
*-own.json
sonarqube-keystore.keystore
consdata-ca.crt
.project
.settings
*.sublime-project
*.sublime-workspace
.classpath
.idea/
*.iml
.DS_Store
hs_err_pid*
yarn-error.log
