sq-group-detail-settings {

  input {
    width: 100%;
  }

  .error {
    margin: auto;
    font-size: 20px;
    color: $color-danger;
  }

  sq-settings-badge.members .badge {
    margin-left: 0;
  }
}
