sq-settings-server {
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .header {
    display: flex;
    justify-content: space-between;
  }

  input {
    width: 100%;
  }
}
