sq-settings-list {
  .header .add {
    margin-left: auto;
  }

  .folded {
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: space-around;

    .label {
      display: flex;
    }

    .actions {
      margin-left: 10px;
    }
  }

  .item {
    padding: 5px;
    cursor: pointer;
    &:hover {
      background: $color-gray-lighter;
    }

    .header {
      display: flex;
    }

    .actions {
      display: flex;
      margin-left: auto;
      margin-right: 0;
      .action {
        font-size: 1.5rem;
        margin-left: 5px;
      }
    }
  }

}
