sq-webhook-detail {
  sq-settings-list {
    .header .sq-settings-group-title {
      width: 100%;

      .add {
        margin-left: auto;
      }

      .title {
        font-size: 1rem;
      }
    }
  }
}
