<div class="modal fade" id="healthStreakModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ctrl.modal.healthStreak.title}}</h4>
            </div>
            <div class="modal-body">
                <div><strong>{{ctrl.modal.healthStreak.severity}}</strong> from
                    {{ctrl.modal.healthStreak.creationDate|date:'dd/MM/yyyy @ HH:mm'}}</div>
                <div>{{ctrl.modal.healthStreak.message}}</div>
                <div><small>{{ctrl.modal.healthStreak.component}}</small></div>
                <div>
                    <a
                        href="http://sonarqube.consdata.local/issues/search#issues={{ctrl.modal.healthStreak.key}}"
                        target="_blank">
                        <i class="fa fa-external-link"></i> open issue in sonarqube
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">{{ ctrl.group.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green" class="panel" ng-class="{
                    'panel-red': ctrl.group.statusName === 'blocker',
                    'panel-yellow': ctrl.group.statusName === 'critical',
                    'panel-green': ctrl.group.statusName === 'healthy'
                }">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <i class="fa fa-4x" ng-class="{
                                'fa-thumbs-o-down': ctrl.group.statusName !== 'healthy',
                                'fa-thumbs-o-up': ctrl.group.statusName === 'healthy'
                            }">
                        </i>

                        <div>overall score</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel" ng-class="{
                    'panel-red': ctrl.group.blockers > 0,
                    'panel-green': !(ctrl.group.blockers > 0)
                }">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-ban fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ ctrl.group.blockers }}</div>
                        <div>blockers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel" class="panel" ng-class="{
                    'panel-yellow': ctrl.group.criticals > 0,
                    'panel-green': !(ctrl.group.criticals > 0)
                }">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-warning fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ ctrl.group.criticals }}</div>
                        <div>criticals</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel" class="panel" ng-class="{
                    'panel-default': ctrl.group.otherIssues > 0,
                    'panel-green': !(ctrl.group.otherIssues > 0)
                }">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-info fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ ctrl.group.otherIssues }}</div>
                        <div>other issues</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel" ng-class="{
                    'panel-green': ctrl.group.projects.length > 0,
                    'panel-red': !(ctrl.group.projects.length > 0)
                }">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ ctrl.group.projects.length }}</div>
                        <div>projects</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel" ng-class="{
                        'panel-yellow': ctrl.group.healthyStreakSiginificant == 0,
                        'panel-green': !(ctrl.group.healthyStreakSiginificant == 0)
                    }">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-heart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right" ng-show="ctrl.group.healthyStreakSiginificant >= 0">
                        <div><span class="huge">{{ ctrl.group.healthyStreakSiginificant }}</span>
                            <small>days</small>
                        </div>
                        <div>since significant</div>
                    </div>
                    <div class="col-xs-9 text-right" ng-show="ctrl.group.healthyStreakSiginificant < 0">
                        <div class="huge">∞</div>
                        <div>no significant issues!</div>
                    </div>
                </div>
            </div>
            <a href="" ng-click="ctrl.showStreakModal('significant')" ng-show="ctrl.group.healthyStreakSiginificant >= 0">
                <div class="panel-footer">
                    <span class="pull-left">View new issue</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel" ng-class="{
                        'panel-yellow': ctrl.group.healthyStreakAny == 0,
                        'panel-green': !(ctrl.group.healthyStreakAny == 0)
                    }">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-heart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right" ng-show="ctrl.group.healthyStreakAny >= 0">
                        <div><span class="huge">{{ ctrl.group.healthyStreakAny }}</span>
                            <small>days</small>
                        </div>
                        <div>since any</div>
                    </div>
                    <div class="col-xs-9 text-right" ng-show="ctrl.group.healthyStreakAny < 0">
                        <div class="huge">∞</div>
                        <div>no issues!</div>
                    </div>
                </div>
            </div>
            <a href="" ng-click="ctrl.showStreakModal('any')" ng-show="ctrl.group.healthyStreakAny >= 0">
                <div class="panel-footer">
                    <span class="pull-left">View new issue</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Details
            <small>detailed information about group</small>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Historical SonarQube violations
            </div>
            <div class="panel-body">
                <div>
                    Issues:
                    <a href="" ng-class="{'text-success': ctrl.getIssuesToDisplay()['blockers']}"
                       ng-click="ctrl.toggleVisibleIssues('blockers')">
                        blocker ({{ctrl.lastHistoryPoint.blockers - ctrl.firstHistoryPoint.blockers}})</a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.getIssuesToDisplay()['criticals']}"
                       ng-click="ctrl.toggleVisibleIssues('criticals')">
                        critical ({{ctrl.lastHistoryPoint.criticals - ctrl.firstHistoryPoint.criticals}})</a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.getIssuesToDisplay()['majors']}"
                       ng-click="ctrl.toggleVisibleIssues('majors')">
                        major ({{ctrl.lastHistoryPoint.majors - ctrl.firstHistoryPoint.majors}})</a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.getIssuesToDisplay()['minors']}"
                       ng-click="ctrl.toggleVisibleIssues('minors')">
                        minor ({{ctrl.lastHistoryPoint.minors - ctrl.firstHistoryPoint.minors}})</a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.getIssuesToDisplay()['infos']}"
                       ng-click="ctrl.toggleVisibleIssues('infos')">
                        info ({{ctrl.lastHistoryPoint.infos - ctrl.firstHistoryPoint.infos}})</a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.getIssuesToDisplay()['all']}"
                       ng-click="ctrl.toggleVisibleIssues('all')">
                        all ({{ctrl.lastHistoryPoint.all - ctrl.firstHistoryPoint.all}})</a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.getIssuesToDisplay()['significant']}"
                       ng-click="ctrl.toggleVisibleIssues('significant')">
                        significant ({{ctrl.lastHistoryPoint.significant - ctrl.firstHistoryPoint.significant}})</a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.getIssuesToDisplay()['nonsignificant']}"
                       ng-click="ctrl.toggleVisibleIssues('nonsignificant')">
                        nonsignificant ({{ctrl.lastHistoryPoint.nonsignificant - ctrl.firstHistoryPoint.nonsignificant}})</a>
                </div>
                <div>
                    History:
                    <a href="" ng-class="{'text-success': ctrl.historySize == 90}"
                       ng-click="ctrl.setHistorySize(90)">
                        90
                    </a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.historySize == 60}"
                       ng-click="ctrl.setHistorySize(60)">
                        60
                    </a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.historySize == 30}"
                       ng-click="ctrl.setHistorySize(30)">
                        30
                    </a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.historySize == 14}"
                       ng-click="ctrl.setHistorySize(14)">
                        14
                    </a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.historySize == 7}"
                       ng-click="ctrl.setHistorySize(7)">
                        7
                    </a>
                    |
                    <a href="" ng-class="{'text-success': ctrl.historySize == 5}"
                       ng-click="ctrl.setHistorySize(5)">
                        5
                    </a>
                </div>
                <div id="project-history"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Projects
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Project</th>
                            <th>Bockers</th>
                            <th>Criticals</th>
                            <th>SonarQube URL</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="project in ctrl.group.projects | orderBy:['-statusCode','-blockers','-criticals']">
                        <tr ng-class="{
                                    'danger': project.statusName == 'blocker',
                                    'warning': project.statusName == 'critical',
                                    'success': project.statusName == 'healthy'
                                }">
                            <td>{{ project.name }}</td>
                            <td>{{ project.blockers }}</td>
                            <td>{{ project.criticals }}</td>
                            <td>
                                <a href="http://sonarqube.consdata.local/dashboard/index/{{ project.sonarqubeKey }}"
                                   target="_blank">{{ project.sonarqubeKey }}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                SonarQube significant violations
            </div>
            <div class="panel-body" ng-show="ctrl.group.issues.length <= 0">
                Good job! No significant issues.
            </div>
            <div class="panel-body" ng-show="ctrl.group.issues.length > 0">
                <div class="text-danger" ng-show="ctrl.group.issues.length > ctrl.maxIssuesCount">
                    Issues list was limited to {{ ctrl.maxIssuesCount }} top entries!
                </div>
                <div class="table-responsive">
                    <table id="issuesTable" class="table" style="word-wrap: break-word;">
                        <thead>
                        <tr>
                            <th>Project</th>
                            <th>Violation</th>
                            <th>Rank</th>
                            <th>Since</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-class="{
                                    'danger': issue.severity === 'BLOCKER',
                                    'warning': issue.severity === 'CRITICAL',
                                    'info': !(issue.severity === 'BLOCKER') && !(issue.severity === 'CRITICAL')
                                }"
                            ng-repeat="issue in ctrl.group.issues | orderBy:['-severityCode','project','-creationDate'] | limitTo:ctrl.maxIssuesCount ">
                            <td>{{ issue.project }}</td>
                            <td>
                                <div>{{ issue.message }}</div>
                                <div>
                                    <small>{{ issue.component }}</small>
                                </div>
                            </td>
                            <td>{{ issue.severity}}</td>
                            <td>{{ issue.creationDate | date }}</td>
                            <td>
                                <a
                                        href="http://sonarqube.consdata.local/issues/search#issues={{issue.key}}"
                                        target="_blank">
                                    <i class="fa fa-external-link"></i> open
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
