<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">Project groups</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6"
         ng-repeat="group in ctrl.groups | orderBy:['-statusCode','-blockers','-criticals']">
        <div class="panel" ng-class="{
                    'panel-red': group.statusName == 'blocker',
                    'panel-yellow': group.statusName == 'critical',
                    'panel-green': group.statusName == 'healthy'
                }">
            <a ui-sref="group_details({id:group.id})">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="huge">{{ group.name }}</div>
                        </div>
                        <div class="col-xs-2 text-right">
                            <div class="huge">{{ group.blockers }}</div>
                            <small>blockers</small>
                        </div>
                        <div class="col-xs-2 text-right">
                            <div class="huge">{{ group.criticals }}</div>
                            <small>criticals</small>
                        </div>
                    </div>
                </div>
                <!--
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
                -->
            </a>
        </div>
    </div>
</div>