sq-footer {
  display: flex;
  margin: 0px -1 * $layout-app-indent;
  padding: 20px $layout-app-indent;
  background-color: $color-gray-lighter;
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
  color: $color-gray-dark;
  a {
    color: $color-gray;
  }
  .footer-left {
    flex: 1;
  }
  .footer-center {
    flex-grow: 1;
  }
  .footer-right {
    flex: 1;
    text-align: right;
  }
}
