sq-group {
  // sections
  .group-sections > div {
    margin-bottom: 25px;
  }

  // detail cards
  .overview-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    & > div {
      color: #fff;
      margin: 10px;
      padding: 15px;
      width: 250px;
    }
    .unknown, .gray {
      background-color: $color-gray;
    }
    .healthy, .success {
      background-color: $color-success;
    }
    .warning {
      background-color: $color-warning;
    }
    .unhealthy, .danger {
      background-color: $color-danger;
    }
  }

  // violations history view
  .history-chart-bullet {
    font-size: 16px;
  }
  #violations-history-chart {
    width: 100%;
    height: 300px;
  }

  // overview card
  .overview-card {
    display: flex;
  }
  .icon {
    font-size: 2rem;
  }
  .details {
    margin-left: 15px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
  }
  .metric {
    font-style: italic;
    font-size: 0.8rem;
  }

  // projects table
  .projects-table {
    width: 100%;
    border-spacing: 0 2px;
    border-collapse: separate;
  }
  .projects-table td {
    padding: 5px;
  }
  .project-header {
    font-weight: $font-weight-semibold;
    font-style: italic;
  }
  .project-row[health-status="unknown"] {
    background-color: #f5f5f5;
  }
  .project-row[health-status="healthy"] {
    background-color: #e4f5de;
  }
  .project-row[health-status="warning"] {
    background-color: #fcf9e7;
  }
  .project-row[health-status="unhealthy"] {
    background-color: #f2dede;
  }
}
