sq-group-violations-history {
  #violations-history-chart {
    width: 100%;
    height: 300px;
  }
  .violations-history-chart-issues-menu {
    & > span {
      cursor: pointer;
    }
    .active {
      color: $color-success;
    }
  }
}
