sq-group {
  // sections
  .group-sections > div {
    margin-bottom: 25px;
  }

  // gorup history chart
  .violations-history-chart-issues-menu {
    & > span {
      cursor: pointer;
    }
    .active {
      color: $color-success;
    }
  }

  // projects ilter
  .group-projects-filter {
    .project-filter-item {
      cursor: pointer;
    }
    .project-filter-item.active {
      color: $color-success;
    }
  }

  // projects table
  .projects-table {
    width: 100%;
    border-spacing: 0 2px;
    border-collapse: separate;
  }
  .projects-table td {
    padding: 5px;
  }
  .project-header {
    font-weight: $font-weight-semibold;
    font-style: italic;
  }
  .project-row[health-status="unknown"] {
    background-color: #f5f5f5;
  }
  .project-row[health-status="healthy"] {
    background-color: #e4f5de;
  }
  .project-row[health-status="warning"] {
    background-color: #fcf9e7;
  }
  .project-row[health-status="unhealthy"] {
    background-color: #f2dede;
  }
}
