/**
 * Libs config
 */
$fa-font-path: '../node_modules/font-awesome/fonts';

/**
 * Colors
 */
$color-primary: #2c3e50;
$color-success: #18bc9c;
$color-info: #3498db;
$color-warning: #f39c12;
$color-danger: #e74c3c;

$color-gray-dark: #7b8a8b;
$color-gray: #95a5a6;
$color-gray-light: #b4bcc2;
$color-gray-lighter: #ecf0f1;

/**
 * Font weights
 */
$font-weight-normal: 500;
$font-weight-semibold: 600;

/**
 * Layout
 */
$layout-app-indent: 10px;
