ranking-widget {
  .ranking-header {
    display: flex;
    justify-content: space-between;

    .ranking-header-element {
      font-style: italic;
      font-weight: bold;
    }

    .name {
      display: flex;
      width: 30%;
      align-items: center;

    }

    .counter {
      width: 10%;
    }

  }
  .ranking-row a {
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #E1F5DF;
    border: solid 1px #FFFFFF;

    .ranking-row-element {
      display: flex;
      width: 30%;
      align-items: center;

    }

    .counter {
      width: 10%;
    }
  }

  .minor, .info a {
    background-color: #E1F5DF;
  }

  .major a {
    background-color: #fff176;
  }

  .critical a {
    background-color: #ff9100;
  }

  .blocker a {
    background-color: #ff1744;
  }

}
