sq-project-overview-cards,
sq-group-overview-cards {

  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  .unknown, .gray {
    background-color: $color-gray;
  }
  .healthy, .success {
    background-color: $color-success;
  }
  .warning {
    background-color: $color-warning;
  }
  .unhealthy, .danger {
    background-color: $color-danger;
  }

  .overview-card {
    display: flex;
  }
  .icon {
    font-size: 2rem;
  }
  .details {
    margin-left: 15px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
  }
  .description {
    font-style: italic;
    font-size: 0.8rem;
  }

}
